//HEADER
#header {
    @include container ;  
}

.container {
    @include container;
    background: url(/assets/images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg);
    background-size: cover;
    border: 1px solid black;
}

#cartes {
    @include sections;
    justify-content: space-evenly;
    padding: 0;
    font-family: $shrikhand;
    text-decoration: none;
    width: 100%;
    max-width: 1600px;
}

footer {
    background-color: rgb(79, 76, 76);
    min-height: 200px;
    width: 100%;
    margin: auto;
    display: flex;
}