//HEADER
#header {
    @include container ;  
}

.container {
    @include container;
    background: url(../images/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg);
    background-size: cover;
}

#cartes {
    @include sections;
    justify-content: space-around;
    font-family: $shrikhand;
    text-decoration: none;
}

footer {
    background-color: rgb(79, 76, 76);
    min-height: 200px;
}