//RESPOSIVE RESERVEZ
@media screen and (max-width:690px) {
    .reservez {
        flex-direction: column;
        &__button {
            width: 100%;
            background-color: $backgroundRez;
            height: 250px;
        }&__fonction {
            width: 100%;
            background-color: white;
        }&__fonction h1 {
           width: 100%;
           margin-left: 1em;
        }
        & a {
            font-size: 11px;
        }& li {
            &:hover {
                opacity: .9;
                &::after {
                    opacity: 0.3;
                }
               
            }
        }&::after {
            content: "";
            background-color: $primaire;
            position: absolute;
            right: 0; top: 0; left: 0; bottom: 0;
            transition: 1000ms ease;
            opacity: 0;
            border-radius: 20px;
            z-index: -9999;
        }
    }
    .testando {
        top: -44em;
    }
    
}

@media screen and (max-width:769px){
    .resto {
       &__box {
           flex-wrap: wrap;
       }& div {
            flex: 1 1 250px;
            margin: 0em 1.4em 3em 0.4em ;
       }
    }
}

