// SECTIONS CONFIG
@mixin header {
    width: 100%;
    display: flex;
    margin: 0 auto;
 
}

@mixin container {
    width: 100%;
    display: flex;
    margin: auto;
    flex-direction: column;
    
}

@mixin sections {
    width: 100%;
    margin: auto;
    display: flex;    
    flex-direction: row-reverse;
}

//BUTTON

@mixin btn  {
    margin-top: 1em;
    padding: 1em;
    border-radius: 20px;
    text-decoration: none;
    background-image: linear-gradient(to bottom, #ff79da, #e86edb, #cf64dc, #b35cdc, #9356dc);
    color: white;
    font-size: 14px;
    box-shadow: $efectTop;
    border: none;  
    transition: transform 200ms , color 250ms ease-in-out;
}

@mixin tailleh1 {
    margin-left: 0.7em;
        color: black;
        font-size: 30px;
        font-family: $roboto;
}

@mixin marginEpadding {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}