@mixin btn-top {
    text-decoration: none;
    color: rgb(255, 255, 255);
    padding: 0.9em 1.8em;
    border-radius: 25px;
    background-image: linear-gradient(to right bottom, #ff79da, #e86edb, #cf64dc, #b35cdc, #9356dc);
    font-size: 14px;
    font-weight: 400;
    font-family: $roboto;
}

