@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
.nav {
  overflow: hidden;
}
.nav__resto {
  width: 100%;
  max-width: 1024px;
  margin: auto;
  display: flex;
  align-items: center;
}
.nav img {
  width: 20%;
  margin: 0 auto;
}
.nav a {
  color: black;
  font-size: 22px;
  margin-left: 0.5em;
}

.container {
  overflow: hidden;
  width: 100%;
  display: flex;
  flex-direction: column;
  object-fit: cover;
  position: relative;
  z-index: 1;
}
.container__bar {
  width: 5%;
  margin-left: 1em;
  border-bottom: 1px solid green;
  position: absolute;
}
.container__boximg {
  width: 100%;
  height: 500px;
  margin: auto;
}
.container__boximg img {
  width: 100%;
  object-fit: cover;
  height: 500px;
}
.container__menu {
  width: 100%;
  max-width: 1024px;
  margin: auto;
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0;
  top: -5em;
  background-color: white;
  position: relative;
}
.container__top {
  position: absolute;
  width: 100%;
  max-width: 1024px;
  height: 5em;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  background-color: white;
  border-radius: 50px 50px 0 0;
}
.container__top i {
  font-size: 22px;
  margin-right: 2em;
}
.container__top h1 {
  font-family: "Shrikhand", cursive;
  margin: 1.5em 0em 0em 1em;
  font-size: 23px;
}
.container__entre {
  width: 100%;
  max-width: 1024px;
  display: flex;
  flex-direction: column;
  margin: auto;
}
.container__entre h2 {
  font-size: 14px;
  margin: 2em 0em 0em 3em;
}
.container__articles {
  display: flex;
  flex-direction: row;
}
.container__articles__entre, .container__articles__plats, .container__articles__desserts {
  width: 50%;
}
.container__articles > .container__entre > .bar {
  background-color: blue;
}
.container__articles h2 {
  font-weight: normal;
  text-transform: uppercase;
  font-family: "Roboto", sans-serif;
  margin: 1em;
  font-size: 15px;
}
.container__btn {
  text-align: center;
  margin-bottom: 3em;
  margin-top: 2em;
}
.container__btn a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  padding: 0.9em 1.8em;
  border-radius: 25px;
  background-image: linear-gradient(to right bottom, #ff79da, #e86edb, #cf64dc, #b35cdc, #9356dc);
  font-size: 14px;
  font-weight: 400;
  font-family: "Roboto", sans-serif;
}

.btns {
  width: 100%;
  margin: auto;
  display: flex;
  cursor: pointer;
  flex-wrap: wrap;
}
.btns__box {
  width: 95%;
  display: flex;
  flex-direction: row;
  margin: 1em auto;
  box-shadow: 5px 5px 5px 0px #eaeaea;
  border-radius: 20px;
  animation: slowmovie 4500ms cubic-bezier(0.32, 0, 0.07, 1) both;
  transform-origin: top;
  margin-bottom: 1em;
}
.btns__box:hover > .btnslf + .btnschecked > .btnschecked__sp {
  animation: scalede 1s cubic-bezier(0.32, 0, 0.07, 1) both;
}
.btns__box:hover > .btnslf + .btnschecked > .btnschecked__check span {
  transform: translateX(0) rotate(0);
  opacity: 1;
}
.btns__box:hover > .btnslf + .btnschecked > .btnschecked__check::after {
  animation: progress 1500ms cubic-bezier(0.32, 0, 0.07, 1) both;
}

@keyframes slowmovie {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.btnslf {
  width: 80%;
  height: 80px;
  border-radius: 20px 0px 0px 20px;
}
.btnslf h3 {
  margin-top: 1em;
  margin-left: 1em;
  font-size: 14px;
  line-height: 2;
  font-weight: 600;
}
.btnslf p {
  margin-left: 1.4em;
  font-size: 11px;
}

.btnschecked {
  width: 20%;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-radius: 0px 30px 30px 0;
}
.btnschecked__sp {
  width: 30%;
  transform-origin: right;
  font-weight: 600;
}
.btnschecked__check span {
  display: inline-block;
  transform: translateX(300%) rotate(-360deg);
  transition: all 1000ms cubic-bezier(0.32, 0, 0.07, 1);
  font-size: 18px;
  color: white;
  position: relative;
  z-index: 100;
  opacity: 0;
}
.btnschecked__check {
  width: 100%;
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
  border-radius: 0px 30px 30px 0;
  position: relative;
}
.btnschecked__check::after {
  content: "";
  position: absolute;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  background-color: #99E2D0;
  border-radius: 0px 20px 20px 0;
  transform-origin: right;
  z-index: 1;
  transform: scaleX(0);
  transition: transform 1000ms cubic-bezier(0.32, 0, 0.07, 1);
}
.btnschecked__check i {
  position: relative;
  z-index: 2;
}

@keyframes progress {
  0% {
    transform: scaleX(0);
  }
  100% {
    transform: scaleX(1);
  }
}
@keyframes scalede {
  50% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#header {
  width: 100%;
  display: flex;
  margin: 0 auto;
  box-shadow: 0px 10px 13px -12px #000000, 1px 3px 13px 15px rgba(156, 147, 147, 0.12);
}

#main {
  font-family: "Roboto", sans-serif;
}

.nav {
  height: 5em;
  width: 100%;
  max-width: 1024px;
  display: flex;
  justify-content: center;
  margin: auto;
  align-items: center;
}

.localisation {
  width: 100%;
  display: flex;
  margin: auto;
  justify-content: center;
  align-items: center;
  background-color: rgba(231, 235, 234, 0.6078431373);
}
.localisation span {
  padding: 1em;
  font-size: 17px;
}
.localisation p {
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  color: rgb(98, 98, 98);
  font-weight: 700;
}

.reservez {
  width: 100%;
  max-width: 1024px;
  display: flex;
  justify-content: center;
  margin: auto;
}
.reservez__button, .reservez__fonction {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
.reservez__button {
  width: 50%;
}
.reservez__fonction {
  width: 60%;
  padding: 1em;
}
.reservez p {
  width: 70%;
  font-size: 16px;
  line-height: 1.3;
}
.reservez h1 {
  font-size: 26px;
  width: 60%;
  display: flex;
}
.reservez ul {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
}
.reservez li {
  padding: 2em;
  list-style: none;
  border-radius: 20px;
  box-shadow: 0px 10px 13px -12px #000000, 1px 3px 13px 15px rgba(156, 147, 147, 0.12);
  margin-top: 1em;
  margin-bottom: 0.7em;
  position: relative;
  cursor: pointer;
}
.reservez li:hover::after {
  opacity: 0.3;
}
.reservez li:hover > .fas {
  color: #9356DC;
}
.reservez li::after {
  content: "";
  background-color: #9356DC;
  position: absolute;
  right: 0;
  top: 0;
  left: 0;
  bottom: 0;
  transition: 1000ms ease;
  opacity: 0;
  border-radius: 20px;
  z-index: -9999;
}
.reservez a {
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  padding: 0.8em 2.2em;
  color: black;
  font-weight: 600;
}
.reservez__number {
  position: absolute;
  left: -8px;
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: #9356DC;
  color: white;
  font-size: 11px;
  z-index: 1;
}
.reservez i {
  padding: 0 0 0 1em;
  font-size: 18px;
  color: rgb(162, 162, 162);
}
.reservez .rz_font {
  margin-top: 2em;
  text-decoration: none;
  color: rgb(255, 255, 255);
  padding: 0.9em 1.8em;
  border-radius: 25px;
  background-image: linear-gradient(to right bottom, #ff79da, #e86edb, #cf64dc, #b35cdc, #9356dc);
  font-size: 14px;
  font-weight: 400;
  font-family: "Roboto", sans-serif;
  box-shadow: 0px 10px 13px -12px #000000, 1px 3px 13px 15px rgba(156, 147, 147, 0.12);
  transform: scale(1);
  transition: transform 400ms ease-in-out;
  color: white;
}
.reservez .rz_font:hover {
  transform: scale(1.1);
}

.container__resto {
  width: 100%;
  background-color: rgba(231, 235, 234, 0.6078431373);
}

.resto {
  width: 100%;
  max-width: 1024px;
  display: flex;
  margin: 2em auto;
  flex-direction: column;
}
.resto a {
  text-decoration: none;
  color: black;
}
.resto h1 {
  margin-left: 1em;
  margin-top: 2em;
}
.resto__box {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}
.resto__box > div {
  width: 45%;
  box-shadow: 0px 10px 13px -12px #000000, 1px 3px 13px 15px rgba(156, 147, 147, 0.12);
  border-radius: 20px 20px 20px 20px;
  position: relative;
  min-height: 220px;
  font-family: "Roboto", sans-serif;
  margin: 1em 2em 2em 2em;
  flex: 1 1 350px;
}
.resto__box > div img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 20px 20px 0 0;
}
.resto__box > div i {
  position: absolute;
  font-size: 22px;
  right: 1em;
  bottom: 1em;
  cursor: pointer;
  transition: all 120ms cubic-bezier(0.05, 0.33, 0.86, 0.38);
  transform-origin: bottom;
  transform: scaleY(1);
  color: rgb(201, 199, 199);
}
.resto__box > div i:active {
  transform: scaleY(1.1);
  color: #9356DC;
}
.resto__box span:nth-child(2) {
  color: white;
  position: absolute;
  right: 2em;
  top: 1em;
  padding: 0.6em 1.5em;
  color: #34584f;
  font-size: 14px;
  font-weight: 500;
  background-color: #99E2D0;
}
.resto__box > div h2 {
  margin-left: 0.5em;
  line-height: 2;
  font-size: 19px;
}
.resto__box > div p {
  margin-left: 0.7em;
  font-size: 15px;
}
.resto__span {
  font-size: 20px;
}

.footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: #353535;
  justify-content: center;
  align-items: flex-start;
  margin: auto;
}
.footer__boxe {
  width: 100%;
  max-width: 1024px;
  margin: 0 auto;
  margin-bottom: 2em;
}
.footer img {
  width: 15%;
}
.footer ul {
  width: 100%;
  margin: auto;
  margin-top: 1em;
}
.footer li {
  list-style: none;
  margin-top: 0.6em;
}
.footer li:nth-child(4), .footer li:nth-child(3) {
  margin-left: 0.6em;
}
.footer h3 {
  color: rgb(255, 255, 255);
  font-family: "Shrikhand", cursive;
  margin-top: 1em;
  font-size: 15px;
  margin-left: 1em;
}
.footer a {
  font-family: "Roboto", sans-serif;
  text-decoration: none;
  color: white;
  font-size: 12px;
  margin-left: 0.4em;
}
.footer i {
  margin-left: 1em;
  color: white;
}

.fa-utensils {
  font-size: 14px;
}

@media screen and (max-width: 690px) {
  .reservez {
    flex-direction: column;
  }
  .reservez__button {
    width: 100%;
    background-color: rgb(249, 247, 247);
    height: 250px;
  }
  .reservez__fonction {
    width: 100%;
    background-color: white;
  }
  .reservez__fonction h1 {
    width: 100%;
    margin-left: 1em;
  }
  .reservez a {
    font-size: 11px;
  }
  .reservez li:hover {
    opacity: 0.9;
  }
  .reservez li:hover::after {
    opacity: 0.3;
  }
  .reservez::after {
    content: "";
    background-color: #9356DC;
    position: absolute;
    right: 0;
    top: 0;
    left: 0;
    bottom: 0;
    transition: 1000ms ease;
    opacity: 0;
    border-radius: 20px;
    z-index: -9999;
  }
}
@media screen and (max-width: 769px) {
  .resto__box {
    flex-wrap: wrap;
  }
  .resto div {
    flex: 1 1 250px;
    margin: 0em 1.4em 3em 0.4em;
  }
}

/*# sourceMappingURL=style.css.map */
