@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
.menu {
  width: 100%;
  margin: 0 auto;
}

.menu__top {
  display: flex;
  width: 100%;
  height: 100px;
  margin: 0 auto;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 10px 13px -12px #000000, 1px 3px 13px 15px rgba(156, 147, 147, 0.12);
  position: relative;
  border: 1px soild;
  justify-content: space-around;
}

.menu__top img {
  margin: 1em auto;
  width: 100%;
  max-width: 392px;
  height: 68px;
  z-index: 999;
}

.box-cartes {
  width: 65%;
  display: flex;
  flex-direction: column;
  background-color: rgba(231, 235, 234, 0.6078431373);
  font-weight: 700;
  border-radius: 20px;
  margin-top: 3em;
  position: relative;
}
.box-cartes__h1 {
  margin-left: 0.6em;
  color: black;
  font-family: "Roboto", sans-serif;
}
.box-cartes__config {
  width: 96%;
  height: 200px;
  display: flex;
  font-family: "Roboto", sans-serif;
  border-radius: 10px;
  background-color: white;
  margin: 1em auto;
  position: relative;
  justify-content: space-around;
}
.box-cartes__config span {
  position: absolute;
  color: white;
  z-index: 999;
  top: 10px;
  left: 37%;
  background-color: #99E2D0;
  padding: 0.5em 1.5em;
  font-size: 15px;
  color: #21a483;
  font-weight: 600;
}
.box-cartes__config img {
  object-fit: cover;
  width: 60%;
  align-items: center;
  border-radius: 10px 0px 0px 10px;
}
.box-cartes__text {
  display: flex;
  flex-direction: column;
  font-size: 20px;
  font-weight: 800;
  line-height: 1;
  margin: 2em auto;
  color: black;
  text-decoration: none;
}
.box-cartes__text p:nth-child(2) {
  font-weight: 400;
}
.box-cartes__icons {
  margin: 0.6em auto;
  font-size: 2em;
  color: black;
  text-decoration: none;
  cursor: pointer;
  position: relative;
  box-sizing: border-box;
  z-index: 1;
  width: 5%;
}
.box-cartes__icons :active {
  background: blue;
}
.box-cartes__links {
  display: flex;
  width: 94%;
  text-decoration: none;
}

.aside {
  margin: 3em auto;
  width: 32%;
  background-color: rgba(231, 235, 234, 0.6078431373);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
}
.aside__top, .aside__reserve, .aside__functionne {
  width: 100%;
}
.aside__top {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 15px;
  color: rgb(82, 82, 82);
  background-color: rgb(235, 233, 233);
  border-radius: 20px 20px 0 0;
}
.aside__top p {
  margin: 1em;
}
.aside__top i {
  color: black;
}
.aside__reserve {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Roboto", sans-serif;
  justify-items: center;
}
.aside__reserve h1 {
  width: 80%;
  text-align-last: center;
  margin-top: 1.5em;
}
.aside__reserve p {
  margin-top: -0.5em;
  width: 80%;
  font-size: 13px;
  text-align: center;
  line-height: 1.3;
  word-wrap: break-word;
  font-weight: 500;
  color: rgb(107, 107, 107);
}
.aside__reserve a {
  margin-top: 1em;
  padding: 1em;
  border-radius: 20px;
  text-decoration: none;
  background-image: linear-gradient(to bottom, #ff79da, #e86edb, #cf64dc, #b35cdc, #9356dc);
  color: white;
  font-size: 14px;
  box-shadow: 0px 10px 13px -12px #000000, 1px 3px 13px 15px rgba(156, 147, 147, 0.12);
  border: none;
  transition: transform 200ms, color 250ms ease-in-out;
}
.aside__reserve a:active {
  transform: scale(1.15);
}
.aside__functionne {
  margin-top: 2em;
  border: 1px solid black;
}
.aside .footer-container {
  border: 1px solid black;
  width: 100%;
  margin: auto;
  max-width: 1024px;
}

#header {
  width: 100%;
  display: flex;
  margin: auto;
  background-size: cover;
  flex-direction: column;
  background: url(../images/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg);
}

.container {
  width: 100%;
  display: flex;
  margin: auto;
  background-size: cover;
  flex-direction: column;
  background: url(../images/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg);
  background: url(../images/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg);
  background-size: cover;
}

#cartes {
  width: 100%;
  max-width: 1024px;
  margin: auto;
  display: flex;
  justify-content: space-around;
  font-family: "Shrikhand", cursive;
  text-decoration: none;
}

footer {
  background-color: rgb(79, 76, 76);
  min-height: 200px;
}

/*# sourceMappingURL=style.css.map */
