* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    animation: opacity 3s ease both;
    position: relative;
    .backgg {
        width: 100%;
        height: 100%;
        position: absolute;
        background-color: white;
        z-index: 999999;
        animation: teste 6s ease both;
    }
}



#header {
    width: 100%;
    display: flex;
    margin: 0 auto;
    box-shadow: $efectTop;
    overflow: hidden;
}

#main {
    font-family: $roboto;
    overflow: hidden;
}

.nav {
    height: 5em;
    width: 100%;
    max-width: 1024px;
    display: flex;
    justify-content: center;
    margin: auto;
    align-items: center;
    overflow: hidden;
}

// END NAV

.localisation {
    width: 100%;
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;
    background-color: $backgroundFund;
    & span {
        padding: 1em;
        font-size: 17px;
    }& p {
        font-family: $roboto;
        font-size: 15px;
        color: $colorFontTop;
        font-weight: 700;
    }
}


.testando {
    width: 100%;
    height: 100%;
    display: flex;
    position: absolute;
    animation: teste 5s ease both;
    animation-fill-mode: forwards;
    justify-content: center;
    justify-content: center;
    align-items: center;
    z-index: 99999999;
    top: -40em;
    & > div {
        box-sizing: border-box;
        display: block;
        position: absolute;
        width: 120px;
        height: 120px;
        margin: 8px;
        border: 8px solid #fff;
        border-radius: 50%;
        animation: lds-ring 2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
        border-color: $primaire transparent transparent transparent;
    }   
    & > div:nth-child(1){
        animation-delay: -0.45s;
    }& > div:nth-child(2){
        animation-delay: -0.3s;
    }& > div:nth-child(3){
        animation-delay: -0.15s;
    }
}

@keyframes lds-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }




@keyframes teste {
    0% {
        transform: translateX(0);
        opacity: 1;
    }
    50% {
        opacity: 1;
        transform: translateX(0);
    }
    80% {
        transform: translateX(0);
        opacity: 0;
    }
    100% {
        opacity: 0;
        transform: translateX(-1500px);
    }
}

@keyframes opacity {
    from {
        opacity: 0;

    }
    to {
        opacity: 1;
    }
}

.reservez {
    overflow: hidden;
    width: 100%;
    max-width: 1024px;
    display: flex;
    justify-content: center;
    margin: auto;
    &__button , &__fonction{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        text-align: center;
    }&__button {
        width: 50%;
    }&__fonction {
        width: 60%;
        padding: 1em;
    }
    & p {
        width: 70%;
        font-size: 16px;
        line-height: 1.3;
    }& h1 {
        font-size: 26px;
        width: 60%;
        display: flex;
    }& ul {
        display: flex;
        flex-direction: column;
        position: relative;
        align-items: center;

    }& li {
        padding: 2em;
        list-style: none;
        border-radius: 20px;
        box-shadow: $efectTop;
        margin-top: 1em;
        margin-bottom: 0.7em;
        position: relative;
        cursor: pointer;
        &:hover {

            &::after {
                opacity: 0.3;
            }
            & >.fas{
                color: $primaire;
            }
        } 
        &::after {
            content: "";
            background-color: $primaire;
            position: absolute;
            right: 0; top: 0; left: 0; bottom: 0;
            transition: 1000ms ease;
            opacity: 0;
            border-radius: 20px;
            z-index: -9999;
        }
    }& a {
        text-decoration: none;
        font-family: $roboto;
        font-size: 16px;
        padding: 0.8em 2.2em;
        color: black;
        font-weight: 600;        
    }&__number {
        position: absolute;
        left: -8px;
        width: 20px;
        height: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        background-color: $primaire;
        color: white;
        font-size: 11px;
        z-index: 1;
    }& i {
        padding: 0 0 0 1em;
      font-size: 18px;
      color: rgb(162, 162, 162);  
    }

// BUTTON RESERVEZ
    .rz_font{
        margin-top: 2em ;
       @include btn-top;
       box-shadow: $efectTop;
       transform: scale(1) ;
       transition: transform 400ms ease-in-out;
       color: white;
    }
    .rz_font:hover {
        transform: scale(1.1);
        }
}


//START RESTO BOX
.container__resto {
    position: relative;
    z-index: 1;
    overflow: hidden;
    width: 100%;
    background-color: $backgroundFund;

}
.resto {
    width: 100%;
    max-width: 1024px;
    display: flex;
    margin: 2em auto;
    flex-direction: column;
   & a {
    text-decoration: none;
    color: black;
   }
    & h1 {
        margin-left: 1em;
        margin-top: 2em;
    }
    &__box {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;

    }&__box > div {
        width: 45%;
        box-shadow: $efectTop;
        border-radius: 20px 20px 20px 20px ;
        position: relative;
        min-height: 220px;
        font-family: $roboto;
        margin: 1em 2em 2em 2em;
        flex: 1 1 350px;
    }&__box > div img {
        width: 100%;
        height: 150px;
        object-fit: cover;
        border-radius: 20px 20px 0 0 ;
    }&__box > div i {
        position: absolute;
        font-size: 22px;
        right: 1em; bottom: 1em;
        cursor: pointer;
        transition: all 120ms cubic-bezier(.05,.33,.86,.38);
        transform-origin: bottom;
        text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
        transform: scaleY(1);
        color: white;
    }
    &__box > div i:hover {
        transform: scaleY(1.1) ;
        color: $primaire;
    }

    &__box span:nth-child(2) {
        color: white;
        position: absolute;
        right: 2em; top: 1em;
        padding: 0.6em 1.5em;
        color: #34584f;
        font-size: 14px;
        font-weight: 500;
        background-color: $tertiaire;
    }
    &__box > div  h2 {
        margin-left: 0.5em;
        line-height: 2;
        font-size: 19px;
    }&__box > div p {
        margin-left: 0.7em;
        font-size: 15px;
    }&__span {
        font-size: 20px;
    }

}


.footer {
    overflow: hidden;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: #353535;
    justify-content: center;
    align-items: flex-start;
    margin: auto;

    &__boxe {
        width: 100%;
        max-width: 1024px;
        margin: 0 auto;
        margin-bottom: 2em;
    }
    & img {
        width: 15%;
    }& ul {
        width: 100%;
        margin: auto;
        margin-top: 1em;
    }& li {
        list-style: none;
        margin-top: 0.6em;
    }
    & li:nth-child(4) , li:nth-child(3){
        margin-left: 0.6em;
    }
    & h3 {
        color: rgb(255, 255, 255);
        font-family: $shrikhand;
        margin-top: 1em;
        font-size: 15px;
        margin-left: 1em;
    }
    & a {
        font-family: $roboto;
        text-decoration: none;
        color: white;
        font-size: 12px;
        margin-left: 0.4em;

    }& i {
        margin-left: 1em;
        color: white;
    }

}

.fa-utensils {
    font-size: 14px;
}