.menu {
    width: 100%;
    margin: 0 auto;
    
}
.menu__top {
    display: flex;
    width: 100%;
    height: 100px;
    margin: 0 auto;
    background-color: rgb(255, 255, 255);
    box-shadow: $efectTop;
    position: relative;
    border: 1px soild;
    justify-content: space-around;
}
.menu__top img {
    margin:1em auto;
    width: 100%;
    max-width: 392px;
    height: 68px;
    z-index: 999;
}

// CARTES


.box-cartes {
    width: 65%;
    display: flex;
    flex-direction: column;
    background-color: $backgroundFund;
    font-weight: 700;
    border-radius: 20px;
    margin-top: 3em;
    position: relative;
    
    &__h1 {
        margin-left: 0.6em;
        color: black;
        font-family: $roboto;
    }

    &__config {
        width: 96%;
        height: 200px;
        display: flex;
        font-family: $roboto;
        border-radius: 10px;
        background-color: white;
        margin: 1em auto;
        position: relative;
        justify-content: space-around;
    }
    &__config span {
        position: absolute;
        color: white;
        z-index: 999;
        top: 10px; left: 37%;
        background-color: $tertiaire;
        padding: 0.5em 1.5em;
        font-size: 15px;
        color: #21a483;
        font-weight: 600;
    }
    &__config img {
        object-fit: cover;
        width: 60%;
        align-items: center;
        border-radius: 10px 0px 0px 10px ;
    }&__text {
        display: flex;
        flex-direction: column;
        font-size: 20px;
        font-weight: 800;
        line-height: 1;
        margin: 2em auto;
        color: black;
        text-decoration: none;
    }&__text p:nth-child(2){
        font-weight: 400;
    }
    &__icons {
        margin: 0.6em auto;
        font-size: 2em; 
        color: black;
        text-decoration: none;
        cursor: pointer;
        position: relative;
        box-sizing: border-box;
        z-index: 1;
        width: 5%;


    }
    &__icons :active {
        background: blue;
    }
    &__links {
        display: flex;
        width: calc(100% - 6%);
        text-decoration: none;
    }

}

//ASIDE
.aside {
    margin: 3em auto;
    width: 32%;
    background-color: $backgroundFund;
    border-radius: 20px;
    display: flex;
    flex-direction: column;

    &__top , &__reserve , &__functionne{
        width: 100%;
       
    }

    &__top {
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: $roboto;
        font-weight: 700;
        font-size: 15px;
        color: rgb(82, 82, 82);
        background-color: rgb(235, 233, 233);
        border-radius: 20px 20px 0 0 ;
    }&__top p {
        margin: 1em;
    }
    &__top i {
        color: black;
    }

    //aside_reserve
    &__reserve {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-family: $roboto;
        justify-items: center;   
    }&__reserve h1 {
        width: 80%;
        text-align-last: center;
        margin-top: 1.5em;
    }&__reserve p {
        margin-top: -0.5em;
        width: 80%;
        font-size: 13px;
        text-align:center;
        line-height: 1.3;
        word-wrap: break-word;
        font-weight: 500;
        color: rgb(107, 107, 107);
    }
    &__reserve a {
       @include btn;
    }
    &__reserve a:active {
        transform: scale(1.15);
    }
    &__functionne {
        margin-top: 2em;
        border: 1px solid black;
    }

    .footer-container {
            border: 1px solid black;
            width: 100%;
            margin: auto;
            max-width: 1024px;
    }
    
   
}



