.menu {
    width: 100%;
    margin: 0 auto;
    
}
.menu__top {
    display: flex;
    width: 100%;
    height: 100px;
    margin: 0 auto;
    background-color: rgb(255, 255, 255);
    box-shadow: $efectTop;
    position: relative;
    border: 1px soild;
    justify-content: space-around;
}
.menu__top img {
    margin:1em auto;
    width: 100%;
    max-width: 392px;
    height: 68px;
    z-index: 999;
}

// CARTES

main {
    overflow: hidden;
}
.box-cartes {
    width: 55%;
    display: flex;
    flex-direction: column;
    background-color: $backgroundFund;
    font-weight: 500;
    border-radius: 20px;
    margin: 3em auto;
    position: relative;
    
    &__h1 {
       @include tailleh1;
    }

    &__config {
        width: 96%;
        height: 200px;
        display: flex;
        font-family: $roboto;
        border-radius: 10px;
        background-color: white;
        margin: 1em auto;
        position: relative;
        justify-content: space-around;
        transition: all 250ms;
    }

    &__config span {
        position: absolute;
        color: white;
        z-index: 999;
        top: 10px; left: 43%;
        background-color: $tertiaire;
        padding: 0.5em 1.5em;
        font-size: 15px;
        color: #21a483;
        font-weight: 600;
    }
    &__config img {
        object-fit: cover;
        width: 65%;
        align-items: center;
        border-radius: 10px 0px 0px 10px ;
    }&__text {
        width: 30%;
        display: flex;
        flex-direction: column;
        font-size: 20px;
        font-weight: 800;
        line-height: 1;
        margin: 3em 0 0 1em;
        color: black;
        text-decoration: none;
    }&__text p:nth-child(2){
        margin-top: -0.5em;
        font-weight: 400;
    }
    &__icons {
        margin: 0.8em 0.8em 0em 0;
        font-size: 2em; 
        text-decoration: none;
        cursor: pointer;
        position: relative;
        box-sizing: border-box;
        z-index: 1;
        width: 3%;
    }&__icons i {
        color: rgb(209, 207, 207);
    }
    &__icons i:active {
        color: $primaire;
    }
    &__links {
        display: flex;
        width: calc(100% - 6%);
        text-decoration: none;
        transition: transform 250ms;

    }&__config:hover {
        transform: scale(1.02);
        opacity: 0.8;
    }

}

//ASIDE
.aside {
    margin: 3em auto;
    width:30%;
    background-color: $backgroundFund;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    height: 720px;
    margin-bottom: 2em;

    &__top , &__reserve , &__functionne{
        width: 100%;
       
    }

    &__top {
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: $roboto;
        font-weight: 700;
        font-size: 15px;
        color: rgb(82, 82, 82);
        background-color: rgb(235, 233, 233);
        border-radius: 20px 20px 0 0 ;
    }&__top p {
        margin: 1em;
    }
    &__top i {
        color: black;
    }

    //aside_reserve
    &__reserve {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-family: $roboto;
        justify-items: center;   
    }&__reserve h1 {
        width: 80%;
        text-align-last: center;
        margin-top: 1.5em;
        text-align: center;
    }&__reserve p {
        margin-top: -0.5em;
        width: 80%;
        font-size: 13px;
        text-align:center;
        line-height: 1.3;
        word-wrap: break-word;
        font-weight: 500;
        color: rgb(107, 107, 107);
    }
    &__reserve a {
       @include btn;
    }
    &__reserve a:active {
        transform: scale(1.15);
    }
    &__functionne {
        margin-top: 3em;
    }&__functionne h1 {
        @include tailleh1;
    }&__menu {
        width: 100%;
        display: flex;
    }&__menu ul {
        @include marginEpadding;
        list-style: none;
        width: 90%;
        margin: auto;
        cursor: pointer;
    

    }&__menu li {
        border-radius: 20px;
        width: 100%;
        max-width: 500px;
        margin-top: 2em;
        text-align: center;
        display: flex;
        height: 60px;
        position: relative;
        background-color: #f6f6f6;
        box-shadow: $efectTop;
        transition: all 250ms ;
    }&__menu a {
        font-size: 15px;
        text-decoration: none;
        color: black;
        font-family: $roboto;
        display: flex;
        align-items: center;
        margin-left: 1em;
        font-weight: 600;
    }&__menu span {
        display: flex;
        position: absolute;
        left: -9px;
        top: 20px;
        width: 18px;
        height: 18px;
        border-radius: 50%;
        color: white;
        font-size: 10px;
        justify-content: center;
        align-items: center;
        background-color: $primaire;
        font-family: $roboto;
    }&__menu i {
        font-size: 15px;
        display: flex;
        margin-left: 2em;
        align-items: center;
        color: #aaaaaa;
        transition: all 250ms ;
       
    }&__menu li:hover {
        transform: scale(1.05);
        background-color: #f5edff;
    }&__menu i:hover {
        color: #f5edff;
    }
   
}



.footer {
    display: flex;
    width: 100%;
    background-color: #3f3f3f;
    margin: auto;
    &__container {
        width: 100%;
        display: flex;
        justify-content: center;
        font-family: $shrikhand;
        color: white;
        flex-direction: column;
    }&__container h1 {
        margin-left: 3.3em;
        font-size: 18px;
    }
    &__container ul {
        list-style: none;
    }
    &__container li {
        margin-bottom: 2em;
    }
    &__container a {
        color: white;
        text-decoration: none;
        font-family: $roboto;
        font-size: 12px;
    }
    &__container i{
        margin-right: 0.5em;
    }
}

//TABLET

@media screen and (max-width:798px) {
    .aside {
        width: 40%;
    }
    .box-cartes {
        &__text {
            width: 100%;
            line-height: 1;
        }&__config span {
            border: 1px solid black;
            top: 10px; left: 28%;
        }&__text {

        }
    }
}